.login-container {
    display: flex;
    min-height: 100vh;
  }
  
  .image-container {
    flex: 1;
    background-image: url("../../public/login-bg-3.jpg"); /* Replace with the actual image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  