button.ant-btn.css-dev-only-do-not-override-fpg3f5.ant-btn-primary {
    margin-top: 15px;
    margin-left: 14px;
    height: 35px;
}

.number-of-doctors-span{
    margin-right: 20px;
    color: #bfbfbf;
    margin-left: 10px;
}